<h3 id="title" class="title">Kích hoạt tài khoản</h3>

<div>
  <!-- <p *ngIf="account">Tài khoản đăng nhập: <b>{{account?.email}}</b></p> -->
  <p><small>Mật khẩu sử dụng từ 8 - 32 ký tự và kết hợp chữ cái thường, chữ số và ký tự đặc biệt.</small></p>
</div>

<form [formGroup]="resetPasswordForm" aria-labelledby="title">

  <div class="form-control-group">
    <label for="input-password" class="label">Mật khẩu</label>
    <nb-form-field>
      <input [type]="getInputType()" nbInput autofocus fullWidth id="input-password" formControlName="newPassword" minlength="8" maxlength="32"
        [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'" class="first">
      <button nbSuffix nbButton ghost (click)="toggleShowPassword()" type="button">
        <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
          [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
        </nb-icon>
      </button>
    </nb-form-field>
    <ngx-validation-message label="Mật khẩu" 
      [showPattern]="password?.hasError('pattern') && password.touched"
      [showRequired]="password?.errors?.required && password.touched">
    </ngx-validation-message>
  </div>

  <div class="form-control-group">
    <label for="input-re-password" class="label">Nhập lại mật khẩu</label>
    <nb-form-field>
      <input [type]="getInputType()" nbInput fullWidth id="input-re-password" formControlName="confirmPassword" minlength="8" maxlength="32"
        [status]="confirmPassword.dirty ? (confirmPassword.invalid || password.value != confirmPassword.value  ? 'danger' : 'success') : 'basic'">
      <button nbSuffix nbButton ghost (click)="toggleShowPassword()" type="button">
        <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
          [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
        </nb-icon>
      </button>
    </nb-form-field>
    <ngx-validation-message label="Nhập lại mật khẩu"
      [showPattern]="confirmPassword?.hasError('pattern') && confirmPassword.touched"
      [showRequired]="confirmPassword?.errors?.required && confirmPassword.touched"></ngx-validation-message>
    <p class="error-message caption status-danger"
      *ngIf="password.value != confirmPassword.value && confirmPassword.touched">
      Mật khẩu không trùng khớp!
    </p>
  </div>

  <button nbButton status="primary" fullWidth class="my-3" type="submit"
    [disabled]="resetPasswordForm.invalid || password.value != confirmPassword.value || resetPasswordForm.disabled">
    {{'Button.Save' | translate}}
  </button>
</form>

<section class="sign-in-or-up d-flex" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../../login">{{'Button.SignIn' | translate}}</a></p>
</section>