<nb-card>
   <nb-card-header>
      <div class="col-sm-12">
         <div class="row align-items-center">
            <h6 class="flex-1 text-uppercase">
               {{'User.authenticatorsTable'|translate}}
            </h6>
         </div>
      </div>
   </nb-card-header>
   <nb-card-body>
      <div>
         <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10" class="float-right"
            showFirstLastButtons></mat-paginator>
         <div class="col-sm-6 gap-none">
            <div class="row">
               <div class="form-group col-sm-6">
                  <nb-form-field>
                     <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                     <input nbInput status="primary" placeholder="{{'Global.Search' | translate}}"
                        (keyup)="doFilter($event.target.value)">
                  </nb-form-field>
               </div>
            </div>
         </div>
      </div>
      <table id="matTable" [dataSource]="dataSource" mat-table matSort>
         <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>STT</th>
            <td *matCellDef="let item; let i = index;" mat-cell>
               {{paginator.pageIndex * paginator.pageSize + i + 1}}
            </td>
         </ng-container>
         <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'User.nameDriver' | translate}}</th>
            <td *matCellDef="let item" mat-cell nbTooltip="{{item.name}}">{{item.name}}</td>
         </ng-container>
         <ng-container matColumnDef="credentialId">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'User.credentialId' | translate}}</th>
            <td *matCellDef="let item" mat-cell nbTooltip="{{item.credentialId}}">{{item.credentialId}}</td>
         </ng-container>
         <ng-container matColumnDef="counter">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'User.counter' | translate}}</th>
            <td *matCellDef="let item" mat-cell nbTooltip="{{item.counter}}">{{item.counter}}</td>
         </ng-container>
         <ng-container matColumnDef="coseKey">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'User.coseKey' | translate}}</th>
            <td *matCellDef="let item" mat-cell nbTooltip="{{item.coseKey}}">{{item.coseKey}}</td>
         </ng-container>
         <ng-container matColumnDef="createdDate">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'Date.createdDate' | translate}}</th>
            <td *matCellDef="let item" mat-cell nbTooltip="{{item.createdDate | date:'dd/MM/yyyy'}}">
               {{item.createdDate | date:'dd/MM/yyyy'}}</td>
         </ng-container>
         <ng-container matColumnDef="lastAccess">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'Date.lastAccess' | translate}}</th>
            <td *matCellDef="let item" mat-cell nbTooltip="{{item.lastAccess | date:'dd/MM/yyyy'}}">
               {{item.lastAccess | date:'dd/MM/yyyy'}}</td>
         </ng-container>
         <ng-container matColumnDef="option">
            <th *matHeaderCellDef mat-header-cell>{{'Global.Option' | translate}}</th>
            <td *matCellDef="let item" mat-cell>
               <button nbButton ghost [nbContextMenu]="items" [nbContextMenuTag]="item"
                  nbContextMenuTrigger="click" >
                  <nb-icon icon="more-vertical-outline"></nb-icon>
               </button>
            </td>
         </ng-container>
         <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
               <div *ngIf="dataSource.filteredData.length > 1">
                  <input type="checkbox" (change)="$event ? masterToggle() : null"
                     [checked]="selection.hasValue() && isAllSelected()"
                     [indeterminate]="selection.hasValue() && !isAllSelected()">
                  <i class="fa fa-angle-down cursor-pointer ml-1" [matMenuTriggerFor]="menu"></i>
               </div>
               <mat-menu #menu="matMenu">
                  <button mat-menu-item disabled [hidden]="!selection.hasValue()">
                     {{selection.selected.length}} {{'Global.RowsSelected' | translate}}
                  </button>
                  <button mat-menu-item [hidden]="isAllSelected()" (click)="masterToggle();$event.stopPropagation()">
                     <i class="fa fa-check-square-o text-primary pr-2 fs-20"></i>
                     <span>{{'Button.SelectAll' | translate}}</span>
                  </button>
                  <button mat-menu-item [hidden]="!isAllSelected()"
                     (click)="selection.clear();$event.stopPropagation()">
                     <i class="fa fa-minus-circle text-secondary pr-2 fs-20"></i>
                     <span>{{'Button.DeselectAll' | translate}}</span>
                  </button>
                  <button mat-menu-item (click)="deleteAll(); $event.stopPropagation()" *ngIf="selection.hasValue()">
                     <i class="fa fa-trash text-danger pr-2 fs-20"></i>
                     <span>{{'Button.Delete' | translate}}</span>
                  </button>
               </mat-menu>
            </th>
            <td mat-cell *matCellDef="let item">
               <input type="checkbox" (change)="$event ? selection.toggle(item) : null"
                  [checked]="selection.isSelected(item)" *ngIf="dataSource.filteredData.length > 0">
            </td>
         </ng-container>
         <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
         <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
      <div class="text-center" *ngIf="dataSource.data.length < 1">
         {{'Message.NoData' | translate}}
      </div>
      <div class="col-sm-12 pt-3">
         <div class="text-right">
            <button type="button" nbButton class="float-right" (click)="close()">{{'Button.Close' | translate}}</button>
         </div>
      </div>
   </nb-card-body>
</nb-card>