<h1 id="title" class="title">Quên mật khẩu</h1>
<p>
  <small>Nhập địa chỉ email đăng ký tài khoản của bạn, chúng tôi sẽ gửi một liên kết để đặt lại mật khẩu.</small>
</p>

<div [formGroup]="requestPasswordForm" aria-labelledby="title">
    <div class="form-control-group">
      <label class="label" for="input-email">Email *</label>
      <input  nbInput
              fullWidth
              id="input-email"
              formControlName="email"
              [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
              [attr.aria-invalid]="email.invalid && email.touched ? true : null" type="email"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <ngx-validation-message label="Email" 
        [showPattern]="email?.errors?.pattern"
        [showRequired]="email?.errors?.required"
        >
      </ngx-validation-message>
    </div>

    <button nbButton
            fullWidth
            status="primary"
            class="my-3"
            [disabled]="!requestPasswordForm.valid"
            (click) = "requestPass()">
      Gửi
    </button>
</div>

<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Đăng nhập</a></p>
</section>
