// button {
//     margin: 0.25rem;
// }
.btn-icon{
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background-color: #ccc;
   align-items: center;
   justify-content: center;
   text-align: center;
   display: inline-flex;
   color: black;
}