.black {
    color: black;
}

nb-toast.status-warning {
    background-color: #ff9661 !important;
    color: black !important;
}

.title h6 {
    color: var(--button-hero-primary-left-background-color),
}