<form #form="ngForm" (ngSubmit)="submit(form.value)">
   <nb-card class="modal-lg">
      <nb-card-header>
         <h5 class="primary">{{data?.id ? ('Button.VIEWDETAIL' | translate) : ('Button.Create' | translate)}}
            {{'relying.relying-party'|translate}}</h5>
      </nb-card-header>
      <nb-card-body>
         <div class="col-sm-12">
            <div class="row">
               <div class="form-group col-sm-12" *ngIf="!view">
                  <label class="label">{{'Global.Name' | translate}} *</label>
                  <input nbInput fullWidth maxlength="200" [(ngModel)]="input.name" name="name" #name="ngModel"
                     [disabled]="view">
                  <ngx-validation-message label="{{'Global.Name' | translate}}"
                     [showRequired]="name?.errors?.required && name.touched">
                  </ngx-validation-message>
               </div>
               <div class="form-group col-sm-12" *ngIf="!view">
                  <label class="label">{{'relying.origin' | translate}} *</label>
                  <div><small>({{'Message.https'|translate}})</small></div>
                  <input separatorNumber nbInput fullWidth min="0" required [(ngModel)]="input.origin" name="origin"
                     #origin="ngModel" [attr.aria-invalid]="origin.invalid && origin.touched ? true : null"
                     [disabled]="view">
                  <ngx-validation-message label="{{'relying.origin' | translate}}"
                     [showRequired]="origin?.errors?.required && origin.touched">
                  </ngx-validation-message>
               </div>
               <div class="form-group col-sm-6" *ngIf="!view">
                  <label class="label">{{'Global.ContactName' | translate}}</label>
                  <input separatorNumber nbInput fullWidth min="0" required [(ngModel)]="input.contactName"
                     name="contactName" #contactName="ngModel"
                     [attr.aria-invalid]="contactName.invalid && contactName.touched ? true : null" [disabled]="view">
               </div>
               <div class="form-group col-sm-6" *ngIf="!view">
                  <label class="label">{{'Global.Email' | translate}}</label>
                  <input separatorNumber nbInput fullWidth min="0" required [(ngModel)]="input.contactEmail"
                     name="contactEmail" #contactEmail="ngModel"
                     [attr.aria-invalid]="contactEmail.invalid && contactEmail.touched ? true : null" [disabled]="view">
               </div>
               <div class="form-group col-sm-6" *ngIf="!view">
                  <label class="label">{{'Global.Address' | translate}} *</label>
                  <input separatorNumber nbInput fullWidth min="0" required [(ngModel)]="input.contactAddress"
                     name="contactAddress" #contactAddress="ngModel"
                     [attr.aria-invalid]="contactAddress.invalid && contactAddress.touched ? true : null"
                     [disabled]="view">
               </div>
               <div class="form-group col-sm-6" *ngIf="!view">
                  <label class="label">{{'Global.Phone' | translate}} *</label>
                  <input separatorNumber nbInput fullWidth min="0" required [(ngModel)]="input.contactPhone"
                     name="contactPhone" #contactPhone="ngModel"
                     [attr.aria-invalid]="contactPhone.invalid && contactPhone.touched ? true : null" [disabled]="view">
               </div>
               <div class="form-group col-sm-12" *ngIf="!view">
                  <label class="label">{{'Global.Description' | translate}}</label>
                  <textarea nbInput fullWidth maxlength="1000" [(ngModel)]="input.description" name="description"
                     #description="ngModel" [disabled]="view"></textarea>
               </div>
               <div class="col-sm-12">
                  <div class="p-10-bottom">
                     <div class="col-sm-12 p-0 m-0">
                        <div class="row p-0 m-0">
                           <div class="details-border" *ngIf="view">
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'Global.Name' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12">
                                    <label>{{data?.name}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'relying.origin' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12">
                                    <label>{{data?.origin}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'relying.ID' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12">
                                    <label>{{data?.id}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'relying.secret' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12" style="line-break: anywhere;">
                                    <label>{{data?.secret}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'relying.ports' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12" style="line-break: anywhere;">
                                    <label>{{listPort}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'relying.subdomains' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12" style="line-break: anywhere;">
                                    <label>{{listSub}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'Global.ContactName' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12" style="line-break: anywhere;">
                                    <label>{{data?.contact?.name}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'Global.Email' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12" style="line-break: anywhere;">
                                    <label>{{data?.contact?.email}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'Global.Address' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12" style="line-break: anywhere;">
                                    <label>{{data?.contact?.address}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'Global.Phone' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12" style="line-break: anywhere;">
                                    <label>{{data?.contact?.phone}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'Date.createdDate' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12" style="line-break: anywhere;">
                                    <label>{{data?.createdDate | date :'dd/MM/yyyy hh:mm:ss'}}</label>
                                 </div>
                              </div>
                              <mat-divider></mat-divider>
                              <div class="col-sm-12 row pt-2 pb-2">
                                 <div class="col-md-3 col-sm-12 text-md-right ">
                                    {{'Global.Description' | translate}}
                                 </div>
                                 <div class="col-md-9 col-sm-12" style="line-break: anywhere;">
                                    <label>{{data?.description}}</label>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </nb-card-body>
      <nb-card-footer>
         <button type="submit" nbButton hero class="float-right ml-2" status="primary" *ngIf="!view">{{'Button.Save' |
            translate}}</button>
         <button type="button" nbButton class="float-right" (click)="close()">{{'Button.Close' | translate}}</button>
      </nb-card-footer>
   </nb-card>
</form>