<!-- ---------------------------------------- dashboard works ------------------------------------------------->
<span *ngIf="authService.subject === role.SYSTEM">
   <div class="container text-center">
      <div class="row">
         <div class="col-md-4 col-sm-6 pt-3">
            <div class="serviceBox purple">
               <div class="service-icon">
                  <span><i class="fa fa-cube"></i></span>
               </div>
               <h3 class="title">{{'packages.relyingParties'|translate}}</h3>
               <span class="description">
                  <h3>{{systemUsageDto.relyingParties}}</h3>
               </span>
            </div>
         </div>
         <div class="col-md-4 col-sm-6 pt-3">
            <div class="serviceBox blue">
               <div class="service-icon">
                  <span><i class="fa fa-user"></i></span>
               </div>
               <h3 class="title">{{'packages.userAccounts'|translate}}</h3>
               <span class="description">
                  <h3>{{systemUsageDto.userAccounts}}</h3>
               </span>
            </div>
         </div>
         <div class="col-md-4 col-sm-6 pt-3">
            <div class="serviceBox green">
               <div class="service-icon">
                  <span><i class="fa fa-globe"></i></span>
               </div>
               <h3 class="title">{{'packages.userAuthenticators'|translate}}</h3>
               <span class="description">
                  <h3>{{systemUsageDto.userAuthenticators}}</h3>
               </span>
            </div>
         </div>
         <div class="col-md-4 col-sm-6 pt-3">
            <div class="serviceBox yellow">
               <div class="service-icon">
                  <span><i class="fa fa-edit"></i></span>
               </div>
               <h3 class="title">{{'packages.createdPackages'|translate}}</h3>
               <span class="description">
                  <h3>{{systemUsageDto.createdPackages}}</h3>
               </span>
            </div>
         </div>
         <div class="col-md-4 col-sm-6 pt-3">
            <div class="serviceBox orange">
               <div class="service-icon">
                  <span><i class="fa fa-check"></i></span>
               </div>
               <h3 class="title">{{'packages.activatedPackages'|translate}}</h3>
               <span class="description">
                  <h3>{{systemUsageDto.activatedPackages}}</h3>
               </span>
            </div>
         </div>
      </div>
   </div>
</span>
<!-- ------------------------------------------ system works -------------------------------------------------->
<p *ngIf="authService.subject !== role.SYSTEM">
   <nb-card>
      <nb-card-header>
         <div class="col-sm-12">
            <div class="row align-items-center ">
               <h6 class="flex-1 text-uppercase">
                  {{'packages.relyingParty' |translate}}
               </h6>
               <div>
                  <button nbButton hero status="primary" (click)="openForm()">{{'Button.Update' | translate}}</button>
               </div>
            </div>
         </div>
      </nb-card-header>
      <nb-card-body>
         <div class="col-sm-12 pb-3">
            <div class="row">
               <div class="col-sm-12 p-2">
                  <nb-icon icon="person-done-outline"></nb-icon>
                  <span class="_title">{{'Global.Name' | translate}}: </span>
                  <span style="  color: var(--button-hero-primary-left-background-color); font-weight:bold">
                     {{relyingParty?.name}}
                  </span>
               </div>
               <span class="col-sm-12">
                  <hr>
               </span>
               <div class="col-sm-12 p-2">
                  <nb-icon icon="link-2-outline"></nb-icon>
                  <span class="_title">{{'relying.origin' | translate}}: </span>
                  {{relyingParty?.origin}}
               </div>
               <span class="col-sm-12">
                  <hr>
               </span>
               <div class="col-sm-12 p-2">
                  <nb-icon icon="link-outline"></nb-icon>
                  <span class="_title">{{'relying.subdomains' | translate}}: </span>
                  {{listSub}}
               </div>
               <span class="col-sm-12">
                  <hr>
               </span>
               <div class="col-sm-12 p-2">
                  <nb-icon icon="hash-outline"></nb-icon>
                  <span class="_title">{{'relying.ports' | translate}}: </span>
                  {{listPort}}
               </div>
               <span class="col-sm-12">
                  <hr>
               </span>
               <div class="col-sm-12 p-2">
                  <nb-icon icon="award-outline"></nb-icon>
                  <span class="_title">{{'relying.ID' | translate}}:</span>
                  {{getInputType(relyingParty?.id)}}
                  <span nbSuffix ghost (click)="toggleShowPassword()">
                     <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                        [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                     </nb-icon>
                  </span>
               </div>
               <span class="col-sm-12">
                  <hr>
               </span>
               <div class="col-sm-12 p-2">
                  <nb-icon icon="unlock-outline"></nb-icon>
                  <span class="_title">{{'relying.secret' | translate}}: </span>
                  {{getInputType(relyingParty?.secret)}}
                  <span nbSuffix ghost (click)="toggleShowPassword()">
                     <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
                        [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                     </nb-icon>
                  </span>
               </div>
               <!-- <span class="col-sm-12">
                  <hr>
               </span>
               <div class="col-sm-12 p-2">
                  <nb-icon icon="loader-outline"></nb-icon>
                  <span class="_title">{{'relying.origins' | translate}}: </span>
                  <div> </div>
               </div> -->
            </div>
         </div>
      </nb-card-body>
   </nb-card>
   <nb-card>
      <nb-card-header>
         <div class="col-sm-12">
            <div class="row align-items-center ">
               <h6 class="flex-1 text-uppercase">
                  {{'packages.packagesTable' | translate}}
               </h6>
            </div>
         </div>
      </nb-card-header>
      <nb-card-body>
         <div class="col-sm-12 pb-3">
            <div class="row" *ngIf="servicePackageDto?.user?.totalQuantity">
               <div class="col-sm-12 title">
                  <h6>{{'packages.packagesUser' |translate}}</h6>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'packages.totalQuantity' | translate}}: </label>
                  <span>{{servicePackageDto?.user?.totalQuantity | separator}}</span>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'packages.usedQuantity' | translate}}: </label>
                  <span>{{servicePackageDto?.user?.usedQuantity | separator}}</span>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'packages.freeQuantity' | translate}}: </label>
                  <span>{{servicePackageDto?.user?.freeQuantity | separator}}</span>
               </div>
            </div>
            <span class="col-sm-12" *ngIf="servicePackageDto?.subdomain?.totalQuantity">
               <hr>
            </span>
            <div class="row">
               <div class="col-sm-12 title">
                  <h6>{{'packages.packagesSubdomain' |translate}}</h6>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'packages.totalQuantity' | translate}}: </label>
                  <span>{{servicePackageDto?.subdomain?.totalQuantity | separator}}</span>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'packages.usedQuantity' | translate}}: </label>
                  <span>{{servicePackageDto?.subdomain?.usedQuantity | separator}}</span>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'packages.freeQuantity' | translate}}: </label>
                  <span>{{servicePackageDto?.subdomain?.freeQuantity | separator}}</span>
               </div>
            </div>
            <span class="col-sm-12" *ngIf="servicePackageDto?.port?.totalQuantity">
               <hr>
            </span>
            <div class="row">
               <div class="col-sm-12 title">
                  <h6>{{'packages.packagesPort' |translate}}</h6>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'packages.totalQuantity' | translate}}: </label>
                  <span>{{servicePackageDto?.port?.totalQuantity | separator}}</span>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'packages.usedQuantity' | translate}}: </label>
                  <span>{{servicePackageDto?.port?.usedQuantity | separator}}</span>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'packages.freeQuantity' | translate}}: </label>
                  <span>{{servicePackageDto?.port?.freeQuantity | separator}}</span>
               </div>
            </div>
            <span class="col-sm-12" *ngIf="servicePackageDto?.port?.totalQuantity">
               <hr>
            </span>
            <div class="row">
               <div class="col-sm-12 title">
                  <h6>{{'packages.packagesLicense' |translate}}</h6>
               </div>
               <div class="form-group col-sm-4">
                  <label class="label pr-2">{{'Date.expiration' | translate}}: </label>
                  <span>{{servicePackageDto?.time?.expiration | date: 'dd/MM/yyyy hh:mm:ss '}}</span>
               </div>
               <div class="form-group col-sm-4" [hidden]="!servicePackageDto?.time?.remaining">
                  <label class="label pr-2">{{'packages.remaining' | translate}}: </label>
                  <span>{{servicePackageDto?.time?.remaining | separator}}</span>
               </div>
            </div>
         </div>
         <div class="col-sm-12">
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10" class="float-right"
               showFirstLastButtons>
            </mat-paginator>
            <div class="col-sm-12 gap-none">
               <nb-form-field>
                  <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                  <input nbInput status="primary" placeholder="{{'Global.Search' | translate}}"
                     (keyup)="doFilter($event.target.value)">
               </nb-form-field>
            </div>
         </div>
         <div class="col-sm-12 gap-none">
            <ng-scrollbar class="custom-scroll border-custom" #scrollable track="horizontal"
               pointerEventsMethod="scrollbar" thumbClass="white-scrollbars">
               <table id="matTable" [dataSource]="dataSource" mat-table matSort style="min-width: 1000px;">
                  <ng-container matColumnDef="id">
                     <th *matHeaderCellDef mat-header-cell mat-sort-header>STT</th>
                     <td *matCellDef="let item; let i = index;" mat-cell>
                        {{paginator.pageIndex * paginator.pageSize + i + 1}}
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="amount">
                     <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'packages.amount' | translate}}</th>
                     <td *matCellDef="let item" mat-cell nbTooltip="{{item.amount}}">
                        <span *ngIf="item.type !== 'TIME'">
                           {{item.amount | separator}}
                        </span>
                        <span *ngIf="item.type === 'TIME'">
                           {{ item?.typeLicense }}
                        </span>
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                     <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'Global.Type' | translate}}</th>
                     <td *matCellDef="let item" mat-cell nbTooltip="{{item.type}}"> {{'packages.' +item?.type |
                        translate}}</td>
                  </ng-container>
                  <ng-container matColumnDef="createdDate">
                     <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'Date.createdDate' | translate}}</th>
                     <td *matCellDef="let item" mat-cell
                        nbTooltip="{{item.createdDate | date: 'dd/MM/yyyy hh:mm:ss '}}">
                        {{item.createdDate | date: 'dd/MM/yyyy hh:mm:ss '}}</td>
                  </ng-container>
                  <ng-container matColumnDef="activatedDate">
                     <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'Date.activatedDate' |
                        translate}}</th>
                     <td *matCellDef="let item" mat-cell
                        nbTooltip="{{item.activatedDate | date: 'dd/MM/yyyy hh:mm:ss '}}">
                        {{item.activatedDate | date: 'dd/MM/yyyy hh:mm:ss '}}</td>
                  </ng-container>
                  <ng-container matColumnDef="description">
                     <th *matHeaderCellDef mat-header-cell mat-sort-header>{{'Global.Description' | translate}}</th>
                     <td *matCellDef="let item" mat-cell nbTooltip="{{item.description}}">{{item.description}}</td>
                  </ng-container>
                  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                  <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
               </table>
            </ng-scrollbar>
         </div>
         <div class="text-center" *ngIf="dataSource.data.length < 1">
            {{'Message.NoData' | translate}}
         </div>
      </nb-card-body>
   </nb-card>
</p>