<h3 id="title" class="title">{{'Button.SignIn' | translate}}</h3>

<form [formGroup]="loginForm" (ngSubmit)="startLogin()">

   <div class="form-control-group my-3">
      <label class="label" for="input-email">username</label>
         <div class="form-group col-sm-3">
            <label class="label">{{'relying.relying-party'|translate}}</label>
            <nb-select fullWidth id="input-relyingPartyId" formControlName="relyingPartyId">
               <nb-option *ngFor="let item of listReplyingParty" [value]="item.id">{{item.name}}</nb-option>
            </nb-select>
         </div>
   </div>

   <div class="form-control-group my-3">
      <label class="label" for="input-email">username</label>
      <input nbInput fullWidth id="input-account" formControlName="username"
         [status]="username.dirty ? (username.invalid  ? 'danger' : 'success') : 'basic'"
         [attr.aria-invalid]="username.invalid && username.touched ? true : null">
      <ngx-validation-message label="{{'Global.UserName' | translate}}"
         [showPattern]="username?.hasError('pattern') && username.touched"
         [showRequired]="username?.errors?.required && username.touched"></ngx-validation-message>
   </div>

   <div class="form-control-group my-3">
      <label class="label" for="input-password">password</label>
      <nb-form-field>
         <input nbInput fullWidth id="input-password" formControlName="password"
            [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="password.invalid && password.touched ? true : null">
      </nb-form-field>
      <ngx-validation-message label="password"
         [showPattern]="password?.hasError('pattern') && password.touched"
         [showRequired]="password?.errors?.required && password.touched"></ngx-validation-message>
   </div>

   <div class="form-control-group my-3" hidden>
      <label class="label" for="input-password">timeoutInSeconds</label>
      <nb-form-field>
         <input type="number" nbInput fullWidth id="input-password" formControlName="password"
            [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
            [attr.aria-invalid]="password.invalid && password.touched ? true : null">
      </nb-form-field>
   </div>

   <div class="form-control-group accept-group my-3">
      <nb-checkbox formControlName="rememberMe" name="rememberMe">{{'Button.RememberLogin' |translate}}</nb-checkbox>
   </div>

   <button nbButton type="submit" fullWidth status="primary" size="large" class="my-3" [disabled]="!loginForm.valid">
      {{'Button.SignIn' | translate}}
   </button>
</form>


<!-- <section class="another-action my-3" aria-label="Register">
  Bạn chưa có tài khoản? <a class="text-link" routerLink="../register">Đăng ký</a>
</section> -->